/*styles-produtos.css*/

/*Estilo para o elemento raiz*/

.root {
    -fx-background-color: dodgerblue; /*Define a cor de fundo como azul dodger*/
}
/*Estilo para os labels*/
.label {
    -fx-font-size: 14px; /*Define o tamanho da fonte para 14 pixels*/
    -fx-text-fill: black; /*Define a cor do texto como branco*/
    -fx-font-weight: bold; /*Define o peso da fonte como negrito*/
}

/*Estilo para o campo de texto*/
.text-field {
   -fx-background-color: white; /*Define a cor de fundo como branco*/
   -fx-border-color: lightgray; /*Define a cor da borda como cinza*/
}

/*Estilo para botoes*/
.button {
    -fx-background-color: linear-gradient(to bottom, black, dodgerblue); /*Define um gradiente de preto para azul dodger*/
    -fx-text-fill: white; /*Define a cor do texto como branco*/
    -fx-font-size: 14px; /*Define o tamanho da fonte para 14 pixels*/
    -fx-cursor: hand; /*Define o cursor como mão ao passar sobre o botão*/
}
/*Estilo para botoes ao passar o mouse*/
.button:hover {
    -fx-background-color: linear-gradient(to bottom, lightskyblue, deepskyblue); /*Inverte o gradiente ao passar o mouse*/
}
/*estilo para tabelas*/
.table-view {
    -fx-background-color: white; /*Define a cor de fundo como branco*/
    -fx-border-color: lightgray; /*Define a cor da borda como cinza*/
}
/*estilo para celulas da tabela*/
.table-cell {
    -fx-padding: 10px; /*Define o espaçamento interno para 10 pixels*/
    -fx-border-color: lightgray; /*Define a cor da borda como cinza*/
}
